
.console-Selection{
    align-items: center;
    
}

.console-Selection * {
    color: #333;
}

.console-Selection h1{
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    
}
.gaming-consoles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    gap: 20px;
  
}

.gaming-consoles li a{
    text-decoration: none;
}

.gaming-consoles li{
    list-style: none;
    margin-top: 10px;
    flex: 0 1 calc(33.33% - 50px);
    max-width: calc(33.33% - 50px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
}

.gaming-consoles li:hover{
    box-shadow:  0px 6px 12px rgba(0, 0, 0, 0.4);
}

.gaming-consoles li img{
    border-radius: 10px;
    height: auto;
    object-fit: cover;
}

@media(max-width: 1024px ){
    li{
        flex: 0 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
}

@media(max-width: 600px){
    li{
        flex: 0 1 calc(100% - 40px);
        max-width: calc(1000% - 40px);
    }
}
