
.wrapper *{
    color: #333;
}

.wrapper{
   background-color: #f0f0f0;
    min-height: 100vh;
}

.item-details{
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;    
}

.item-description{
    padding: 20px 45px;
    width: 500px;
}

.item-description h2{
    font-weight: bold;
}

.item-details img{
    object-fit: cover;
    height: 400px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.item-details img:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.item-description p{
    font-size: 1.2rem;
}

.item-description button{
    color: white;
    font-size: 1.2rem;
    background-color: #003568;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.item-description button:hover{
    background-color: #0a3b69;
}

.item-quantity{
    font-size: 1rem;
}

.item-quantity button{
    padding: 4px 15px;
    margin: 5px;
}