.game-Details *{
    color: #333;
}

.game-Details{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background-color: #f0f0f0;
    min-height: 100vh;
}

.game-Details img{
    object-fit: cover;
    height: 400px;
    width: 400px;
    border-radius: 5px;
}

.game-Description{
    padding: 20px 45px;
    width: 500px;
}

.game-Description h2{
    font-weight: bold;
}

.game-Description p{
    font-size: 1.2rem;
}

.itemQuantity button{
    color: white;
    font-size: 1.2rem;
    background-color: #003568;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
}

.itemQuantity button:hover{
    background-color: #0a3b69;;
}

.addToCart button {
    background-color: #003568;
    color: white;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 10px;
}

.addToCart button:hover{
    background-color: #0a3b69;
    cursor: pointer;
}