.gameCards img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.gameCards{
    text-align: center;
    margin: 10px;
}

.gameCards h2{
    font-size: 1.5rem;
}