*{
    color: #F0F0F0;
    font-family: 'Lato', sans-serif;
}
.homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage h1{
    display: block;
    text-align: start;
    max-width: 80%;
}

body{
    background: rgb(0,12,36);
    background: linear-gradient(90deg, rgba(0,12,36,1) 1%, rgba(134,134,162,1) 55%);
}

.homepage button{
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 7px 10px;
    background-color: #003568;
    color: white;
    margin: 5px;
}

.homepage button:hover{
    background-color: #1d5e9a;
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 80px;
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img{
    
    max-width: 100%;
    max-height: 550px;
    object-fit: cover;
    border-radius: 10px;
    height: auto;
    margin-right: 40px;
}